/*清除格式*/
	*{
		margin:0;
		padding: 0;
	}
	.clearfix:after{
		clear: both;
		display: block;
		content:"";
		visibility: hidden;
		height: 0px;
	}
	.clearfix{
		*zoom:1;
	}
/*顶部区域开始 */
	a{
		text-decoration: none;
		color: #8f8f8f; 
	}
	nav{
		width: 100%;
		height:139px;
		background-color:#fdfdfd;
		border: 1px solid transparent;
	}
	img{
		float:left;
		/*margin-top: 29px;
		margin-left: 64px;*/
	}
	.box{
		width: 1240px;
		height: 100px;
		margin-left: 340px;

	} 
	.box>img{
		margin-top: 30px;
	}
	.box img{
		float: left;
		/*margin-top: 50px;*/
	}
	.box img:hover{
		cursor: pointer;
	}
	nav img+ul li{
	    float:left;
	    /*color: black;*/
	    font-size: 12px;
	    margin-top: 42px;
	    margin-right: 38px;
	    cursor: pointer;
	}
	.box a{
		color: #929292;
	}
	.box a:hover{
		color: #252525;
		font-weight: bold;
	}
	.box li:nth-child(2):hover{
		transform: scale(1.1,1.1);
		/*font-weight: bold;*/
	}
	nav img+ul li:nth-child(1){
		margin-left: 56px;
	}
	#lil a{
		color: #252525;
		font-weight: bold;
	}
	.i2{
		float: right;
		margin-right: 124px;
		margin-top: 42px;
		color: #646464;
		cursor: pointer;
	}
	.i1{
		position: absolute;
		top: 0px;
		right: 0px;
		color: #646464;
		cursor: pointer;
	}
	.box1{
		float: right;
		width: 1px;
		height: 10px;
		margin-top: 44px;
		background-color: #cccccc;
	    margin-right: 40px;
	}
	.hovefa{
		float: right;
		position: absolute;
		/*background:#ffffff;*/
		top: 42px;
		right:43px; 
		/*width: 40px;
		height: 400px;*/
		z-index: 9;
		margin-right: 350px;
		border: 1px solid transparent;
	}
	.hove{
		position: absolute;
		top: 42px;
		right: -1px;
		width: 360px;
		height: 314px;
		background: #ffffff;
		display: none;
		overflow: hidden;
		border: 1px solid red;
		border-radius: 6px 6px;
	}
	.hove img{
		position: absolute;
		margin-top: 0px;
		margin-left: 0px;
		top: 90px;
		right: 154px;
	}
	.hove p:nth-child(2){
		position: absolute;
		top: 182px;
		right: 135px;
		margin-right: 0px;
		margin-left: 0px;
		color: #342e46;
		font-size: 17px;
	}
	.hove p:nth-child(3){
		position: absolute;
		bottom: 92px;
		right: 61px;
		margin-right: 0px;
		margin-left: 0px;
		color: #bcbcbc;
		font-size: 12px;
	}
	.box2{
		/*position: absolute;
		top: 92px;*/
		width: 100%;
		z-index: 99;
		/*padding-left: 100px;*/
		background: #f9f9f9;
	}
	/*.box2{
		position: fixed;
		top: 106px;
		width: 100%;
		z-index: 99;
		background: #f9f9f9;
	}*/
	.ul2 li:nth-child(1){
	    margin-left: 200px;
	}
	.ul2 li:nth-child(2){
	    margin-left: 340px;
	}
	.ul2 li{
		float:left;
	    color: #8f8f8f;
	    font-size: 12px;
	    margin-top: 12.5px;
	    margin-right: 30px;
	}
	.box2 .ul2 .jianguo li{
		display: none;
		overflow: hidden;
		font-size: 21px;
		margin-top: 7px;
	}
	.ul2 li:nth-child(2):hover{
		cursor: pointer;
	}
	.ul2 li:nth-child(3):hover{
		cursor: pointer;
	}
	.ul2 li:nth-child(4):hover{
		cursor: pointer;
	}
	.ul2 li:nth-child(5):hover{
		cursor: pointer;
	}
	.ul2 li:nth-child(6):hover{
		cursor: pointer;
	}
	.ul2 li a:hover{
		color: #252525;
		font-weight: bold;
	}
	.ul3 li:nth-child(1){
		float: right;
		height: 30px;
		width: 82px;
		line-height: 30px;
		text-align: center;
		color: #ebeefd;
	    font-size: 12px;
	    font-weight: bold;
	    margin-top: 5px;
	    margin-bottom: 5px;
	    margin-right: 400px;
	    background-color: #5b94ff;
	    border-top-left-radius: 3px 3px;
	    border-top-right-radius: 3px 3px;
	    border-bottom-left-radius:3px 3px;
	    border-bottom-right-radius: 3px 3px;
	}
	.ul3 li:nth-child(2){
		float: right;
		color: #8f8f8f;
	    font-size: 12px;
	    margin-top: 12.5px;
	    margin-left: 20px;
	    margin-right: 30px;
	}
	.ul3 li:nth-child(3){
		float: right;
		color: #8f8f8f;
	    font-size: 10px;
	    border-right: 1px solid #8f8f8f;
	    margin-top: 12.5px;
	    padding-right: 20px;
	}
	.ul3 li:nth-child(3) a:hover{
		color: #252525;
		font-weight: bold;
		cursor: pointer;
	}
	.ul3 #li2:hover{
		cursor: pointer;
		background: #243c6c;
	}
	.ul3 li:nth-child(2) a:hover{
		color: #252525;
		font-weight: bold;
		cursor: pointer;
	}
	#li2 a{
		color: #ebeefd;
	}
/*中间部分*/
	.box3 img{
		margin:0px 0px;
		width:100%;
	}
/*底部区域开始*/
	footer{
		width: 100%;
	}
	.box5{
		margin-top: 60px;
		margin-left: 340px;
		font-size: 12px;
	}
	.box5 dt{
		font-weight:bold; 
	    margin-bottom: 34px;
	}
	.box5 dl{
		float: left;
		margin-right: 110px;
	}
	.box5 dl:nth-child(6){
		margin-right:48px;
	}
	.box5 dd{
		margin-bottom: 18px;
		color: #757575;
	}
	.box5 dd:hover{
		cursor: pointer;
		color: #6380dc;
	}
	.box5-1{
		width: 175px;
		height: 112px;
	    margin-right: 400px;
		/*background-color: red;*/
		float: right;
		margin-top: 0px;
	}
	.box5-1 img{
		cursor: pointer;
	}
	.box5-1 p{
		float: right;
	}
	.box5-1 p:nth-child(1){
		font-size: 21px;
		font-weight: 900;
		color: #718ac2;
	}
	.box5-1 p:nth-child(2){
		color: #979797;
		font-size: 10px;
		margin-top: 16px;
	}
	.box5-1 p:nth-child(3){
		color: #979797;
		font-size: 10px;
		margin-top: 7px;
	}
	.box5-1 .img2{
		margin-top:18px;
		float: right;
	}
	.box5-2{
		width: 65%;
		height: 1px;
		background: #e7e7e7;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
	}
	.box6{
		margin-top: -30px;
	}
	.box6 p:nth-child(1){
		margin-left: 340px;
	}
	.box6 p,span{
		float: left;
		margin-right: 10px;
		font-size: 10px;
		margin-top: 40px;
		color: #999999;
	}
	.box6 p:hover{
		cursor: pointer;
		color: #718ac2;
	}
	.box7{
		margin-bottom: 100px;
	}
	.box7 p:nth-child(1){
		margin-left: 340px;
	}
	.box7 p{
		font-size: 10px;
		float: left;
		margin-top: 13px;
		color: #d3d3d3;
	}






