/*通用样式	*/
	*{
		margin: 0;
		padding: 0;
	}
	a{
		text-decoration:none;
		color: #a5a5a6;
		font-size: 12px;
	}
	a:hover{
		color: #e5e5e5;
	}
	.container{
		margin:0 auto;
		width: 1220px;
		position: relative;
	}
	.clearfix:after{
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
	}
	.clearfix{
	*zoom: 1;
	}
	.container .title{
		position: relative;
		height: 62px;
		padding: 21px 0 21px 23px;
		background-color: #fafafa;
		border-bottom: 1px solid #dbdbdb;
		border-radius: 6px 6px 0px 0px;
		box-sizing: border-box;
	}
	.container .title .titlename{
		font-size: 18px;
		font-weight: bold;
		color: #666;	
	}
	/*商品售卖板块*/
	.shopping{
		margin-top: 25px;
		width: 100%;
		height: 920px;
		border: 1px solid #dbdbdb;
		border-bottom: none;
		border-radius: 6px 6px 6px 6px;
		background-color: #fff;
	}
	.goods .shopping:last-child{
		margin-bottom: 25px;
	}
	.goods .bd-item{
    	float: left;
    	width: 304px;
    	height: 429px;
    	text-align: center;
    	padding: 45px 20px 0 20px;
    	border-right: 1px solid #e3e3e3;
    	box-sizing: border-box;
    }
    .goods .shopping .bd-item{
    	border-bottom: 1px solid #e3e3e3;
    }
    .goods .shopping .bd-item:nth-child(3),
    .goods .shopping .bd-item:nth-child(7){
    	border-right: none;
    } 
    .goods .shopping .bd-item:nth-child(1){
    	width: 608px;	
    }
    /*商品名，介绍，价格*/
	.goods .bd-item h3{
    	margin-top: 20px;
    	font-size: 14px;
    	font-weight: bold;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    }
    .goods .bd-item .bd-intro{
    	margin: 19px 0 17px 0;
    	font-size: 12px;
    	color: #999;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    }
	.goods .bd-item .bd-price{
    	margin-top: 15px;
    	color: #d44d44;
    	font-size: 14px;
    	font-weight: bold;
    }
    /*颜色选择器*/
    .goods .bd-item .color-select{
    	display: inline-block;
    }
    .bd-item .color-select .select-item{
    	float: left;
    	margin: 0px 5px;
    	width: 15px;
    	height: 15px;
    	text-align: center;
    	border-radius: 50%;
    	border:1px solid #e3e3e3;
    }
    .bd-item .color-select .select-item div{
    	padding: 3px;
    }
    .bd-item .color-select .select-item img{
    	display: block;
    	margin: 0 auto;
    	width: 8px;
    	height: 8px;
    	border-radius: 4px;
    }
/*顶部标题栏样式*/
	nav{
		width: 100%;
		/*height: 45px;*/
		background-color: #303134;
		position: relative;
	}
	nav .nav-logo i{
		float: left;
		margin-left: 21px;
		margin-top: 11px;
		font-size: 21px;
	}
	nav .nav-logo a{
		color: #e5e5e5;
	}
	nav .n-list{
		float: right;
		line-height: 43px;
		margin-right:181px;
	}
	nav ul .n-item{
		float: left;
		margin-right: 39px;
	}
	nav .nav-aside{
		position: absolute;
		right: 26px;
		bottom: 14px;
	}
	nav .nav-aside .na-item{
		float: right;
		margin-left: 22px;
	}
	nav .nav-aside .na-item a:hover{
		color: #99999A;
	}
/*首页标题栏*/
	.shoppinglist{
		width: 100%;
		background-color: #fff;
		/*box-shadow: 1px 4px 10px 1px rgba(0,0,0,0.5);*/
		z-index: 20;
	}
	.shoppinglist .s-list{
		float: left;
	}
	.shoppinglist .s-list .s-item{
		float: left;
		margin-right: 30px;
	}
	.shoppinglist .s-list .s-item a{
		line-height: 75px;
		font-size: 14px;
		color: #4f4f4f;
	}
	.shoppinglist .s-list .s-item a:hover{
		color: #5079d9;
	}
	.shoppinglist .search{
		position: absolute;
		right: 0px;
		top: 20px;
	}
	.shoppinglist .search input{
		width: 330px;
		height: 36px;
		border-radius: 18px;
		border: 1px solid #ebebeb; 
		box-sizing: border-box;
		outline: none;
		padding-left: 42px;
	}
	.shoppinglist .search input:focus ~.hot-words{
		display: none;
	}
	.shoppinglist .search i{
		position: absolute;
		top: 9px;
		left: 12px;
		font-size: 18px;
		font-weight: bolder;
		color: #ABAAAA;
		cursor: pointer;
	}
	.shoppinglist .search .hot-words{
		position: absolute;
		top: 7px;
		right: 8px;
	}
	.shoppinglist .search .hot-words a{
		display: inline-block;
		width: 76px;
		border-radius: 10px;
		text-align: center;
		font-weight: bold;
	}
	.shoppinglist .search .hot-words a:first-child{
		color: #3965cc;
		border: 1px solid #93b2f7;
		background-color: #e5efff;
	}
	.shoppinglist .search .hot-words a:last-child{
		color: #8aad37;
		border: 1px solid #b5cc7b;
		background-color: #f7fae1;
	}
/*焦点部分*/
	.focus{
		width: 100%;
		padding-top:25px; 
		background-color: #ededed;
	}
/*轮播图,广告*/
	.focus .slidebox a img{
		width: 1220px;
		height: 500px;
		border:1px solid #dbdbdb;
		border-radius: 6px;
		box-sizing: border-box;
	}
	.focus .container .f-ad{
		margin-top: 25px;
		border: 1px solid #dbdbdb;
		border-radius: 6px;
		box-sizing: border-box;
	}
	.focus .container .ad-item img{
		float: left;
		width: 304px;
		height: 202px;
	}
	.focus .container .ad-item:first-child img{
		border-radius: 6px 0px 0px 6px;
	}
	.focus .container .ad-item:last-child img{
		border-radius: 0px 6px 6px 0px;
	}
	.goods{
		width: 100%;
		background-color: #ededed;
		padding-top: 25px;
	}
/*热卖商品*/
	.goods .container .g-hot{
		height: 491px;
		background-color: #ffffff;
		border: 1px solid #dbdbdb;
		border-radius: 6px;
	}
	.goods .g-hot .gh-btn{
		position: absolute;
		top: 19px;
		right: 23px;
	}
	.goods .g-hot .gh-btn div{
		float: right;
		text-align: center;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		border: 1px solid #e3e3e3;
		margin-left: 19px;
	}
	.goods .g-hot .gh-btn div i{
		font-size: 23px;
	}
    .goods .g-hot .bd-item:nth-child(4){
    	border-right: none;
    }   
    
footer{
	width: 100%;
	height: 355px;
	background-color: tomato;
}