/*公共样式*/
	.container{
		width: 1222px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	a{
		font-size: 12px;
		color: #bebebe;
		text-decoration: none;
	}
	a:hover{
		color:#e5e5e5;
	}
/*公共样式结束*/
/*头部部分*/
	.up{
		width: 100%;
		height: 45px;
		background-color: #2e2f32;
		line-height: 42px;
		position: relative;

	}
	.up .logo img{
		width: 18px;
		height: 18px;
		float: left;
		margin-left: 20px;
		margin-top: 13px;
	}
	.up .list{
		float: left;
	}
	.up .list .item{
		float: left;
		margin-right: 39px;
	}
	.up .list .item:nth-child(1) a{
		font-weight: 700;
		color:#e5e5e5;
		margin-left: 42px;
	}
	.up .i-left{
		width: 36px;
		height: 36px;
		float: right;
		background-image: url(../images/yhl/【锤子商城】坚果手机/ia_100000000533.png);
		background-position: -36px -36px;
		position: absolute;
		top: 1px;
		right: 26px;
		transform: scale(0.5);
	}
	.up .i-left a{
		width: 36px;
		height: 36px;
		background-color: red;
		display: block;
		opacity: 0;
	}
	.up .i-right a{
		width: 36px;
		height: 36px;
		background-color: red;
		display: block;
		opacity: 0;
	}

	.up .i-right{
		width: 36px;
		height: 36px;
		float: right;
		background-image: url(../images/yhl/【锤子商城】坚果手机/ia_100000000533.png);
		background-position: -36px -0px;
		position: absolute;
		top:1px;
		right: 62px;
		transform: scale(0.5);
	}
	.nav{
		width: 100%;
		height: 74px;
		background-color: #fff;
		line-height: 74px;
	}
	.nav .nav-item a{
		color: #4f4f4f;
		margin-right: 30px;
		float: left;
	}
	.nav .nav-item:nth-child(1){
		color: #333;
		font-weight: 700;
	}
	.nav .nav-item:nth-child(4){
		color: #333;
		font-weight: 700;
	}
	.nav .nav-right{
		width: 330px;
		height: 36px;
		line-height: 36px;
		float: right;
		margin-top: 20px;
		position: relative;
	}
	.nav .nav-right input{
		width: 100%;
		height: 100%;
		border-radius: 18px;
		border: 1px solid #ebebeb; 
		box-sizing: border-box;
		outline: none;
		padding-left: 42px;
	}
	.nav .nav-right i{
		font-size: 20px;
		top: 7px;
   		left: 10px;
    	position: absolute;
    	color: #ABAAAA;
    	cursor: pointer;
	}
	.nav .nav-right .serach-son1{
		width: 76px;
		height: 20px;
		background-color: #e5efff;
		border: 1px solid #93b2f7;
		z-index: 1;
		float: left;
		line-height: 20px;
		text-align: center;
		border-radius: 10px;
		font-weight: 700;
		top: 7px;
		right: 86px;
		position: absolute;
	}
	.nav .nav-right .serach-son2{
		width: 70px;
		height: 20px;
		background-color: #f7fae1;
		border: 1px solid #b5cc7b;
		z-index: 1;
		float: right;
		line-height: 20px;
		text-align: center;
		border-radius: 10px;
		font-weight: 700;
		top: 7px;
		right: 8px;
		position: absolute;
	}
	.nav .nav-right .serach-son1 a{
		font-size: 11px;
		color: #3965cc;
	}
	.nav .nav-right .serach-son2 a{
		font-size: 11px;
		color: #8aad37;
	}

/*头部部分结束*/
/*主要部分*/
	.section{
		width: 100%;
		/*height: 1901px;
*/		background-color: #ededed;
	}
	.section .section-up{
		width: 100%;
		height: 61px;
		line-height: 61px;
		overflow: hidden;

	}
	.section .section-up .s-list{
		float: left;
		position: relative;
		margin-right: 41px;
	}
	
	.section .section-up .s-list:nth-child(1){
		margin-left: 8px;
	}
	.section .section-up .s-list a:before{
		content: "";
		width: 2px;
		height: 2px;
		background-color: #c7c7c7;
		position: absolute;
    	display:block;
    	top: 50%;
    	left: -19px;
	}
	.section .section-up .s-list a:hover{
		color: #5683ea;
	}
	.section .section-down{
		width: 100%;
		height: 2178px;
		border: 1px solid #dbdbdb;
		border-radius: 5px;
		background-color: red;
		box-sizing: border-box;
		overflow: hidden;
	}
	.section .section-down .s-w-item{
		width: 244px;
		height: 364px;
		box-sizing: border-box;
		border-bottom: 1px solid #dbdbdb;
		border-right: 1px solid #dbdbdb;
		background-color: white;
		float: left;
		text-align: center;
		padding: 20px;
	}
	.section .section-down .s-w-item div:nth-child(1) img{
		width: 204px;
		height: 204px;

	}
	.section .section-down .s-w-item:nth-child(2) a{
		text-overflow: ellipsis;
		line-height: 10px;
		word-wrap: normal;
		font-size: 10px;
		overflow: hidden;
		width: 100px;

	}
	.section .section-down .s-w-item:nth-child(5){
		border-right: none;
	}
	.section .section-down .s-w-item:nth-child(10){
		border-right: none;
	}
	.section .section-down .s-w-item:nth-child(15){
		border-right: none;
	}
	.section .section-down .s-w-item:nth-child(20){
		border-right: none;
	}
	.section .section-down .s-w-item:nth-child(25){
		border-right: none;
	}
/*主要结束*/
/*底部部分*/
	.footer{
		width: 100%;
		height: 355px;
		background-color: #fafafa;
	}
/*底部结束