/*公共样式*/
	.container{
		height: 100%;
		width: 1227px;
		margin-left: auto;
		margin-right: auto;
	}
	.clearfix:after{
		content: '';
		clear: both;
		visibility: hidden;
		display: block;
	}
	a{
		font-size: 12px;
		color: #666666;
		text-decoration: none;
		line-height: 40px;
	}
	a:hover{
		color: #cccccc;
	}
/*公共样式结束*/
/*头部部分*/
	.top{
		width: 100%;
		height: 140px;
		background-color: ;
		padding-top: 30px;
		box-sizing: border-box;
		position:relative;
	}
	.up{
		width: 1903px;
		height: 100px;
		background-image: url(../images/yhl//【锤子商城】坚果TNT-概览/top.png);
		background-repeat: no-repeat;
		background-size:100% 100%;
		position: absolute;
		top:0px;
		/*line-height: 100px;*/
	}
	.down{
		width: 1903px;
		height: 40px;
		background-image: url(../images/yhl//【锤子商城】坚果TNT-概览/down.png);
		background-repeat: no-repeat;
		background-size:100% 100%;
		position: absolute;
		bottom: 0px;
	}
	.top .logo{
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 83px;
		/*margin-top:30px;*/
	}
	.top .nav1{
		width: 100%;
		height: 40px;
		/*background-color: black;*/
		margin-top: 30px;
	}
	.top .nav1 .item{
		float: left;
		margin-right: 39px;
	}
	.top .nav1 .item a{
		font-size: 14px;
	}
	.top .nav1 .item a:hover{
		font-weight: 700;
	}
	.top .nav2{
		float: right;
		width: 114px;
		height: 20px;
		position: relative;
	}
	.top .nav2 i{
		font-size: 16px;
		margin-left: 43px;
		color: #9a9a9a;
	}
	.top .nav2 a:nth-child(1){
		border-left: 1px solid #666666;
	}
	.top .nav2 a:nth-child(2){
		right: 8px;
		position: absolute;
	}
	.top .down .list li{
		float: left;
		margin-right: 29px;
	}
	.top .down .list li a{
		font-size: 11px;
	}
	.top .down .down-right{
		font-size: 11px;
		float: right;
	}
/*头部结束
/*主要部分*/
	.main{
		width: 100%;
		height:5761px;
		background-color: blue;
	}
	.main .main-img{
		width: 1903px;
		height: 1441px;
	}
	.main .main-img:nth-child(1){
		background-image: url(../images/yhl/【锤子商城】坚果TNT-概览/ia_900000007.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
	}
	.main .main-img:nth-child(2){
		background-image: url(../images/yhl/【锤子商城】坚果TNT-概览/ia_900000008.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.main .main-img:nth-child(3){
		background-image: url(../images/yhl/【锤子商城】坚果TNT-概览/ia_900000009.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.main .main-img:nth-child(4){
		background-image: url(../images/yhl/【锤子商城】坚果TNT-概览/ia_900000010.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
/*主要结束*/
/*底部部分*/
	.footer{
		width: 100%;
		height: 344px;
		background-color: gray;
	}
	.footer .ft-up dl{
		margin-top: 60px;
		float: left;
		margin-right: 100px;
		font-size: 11px;
		
	}
	.footer .ft-up dl a{
		line-height: 0px;
		color: #969696;
	}
	.footer .ft-up dl a:hover{
		color: #5079d9;
	}
	.footer .ft-up dt{
		line-height: 0px;
		margin-bottom: 29px;
		font-weight: 700;
		color: #646464;
	}
	.footer .ft-up dl dd{
		margin-bottom: 17px;
	}
/*底部结束