/*公共样式*/
	.container{
		width: 1222px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	a{
		font-size: 12px;
		color: #bebebe;
		text-decoration: none;
	}
	a:hover{
		color:#e5e5e5;
	}
	.transition{
		transition:box-shadow 0.15s;

	}
	.transition:hover{
		/*transform: translateY(5px);*/
		box-shadow: 0px 5px 30px rgba(0,0,0,0.1) inset;
	}
/*公共样式结束*/
/*头部部分*/
	.up{
		width: 100%;
		height: 45px;
		background-color: #2e2f32;
		line-height: 42px;
		position: relative;

	}
	.up .logo img{
		width: 18px;
		height: 18px;
		float: left;
		margin-left: 20px;
		margin-top: 13px;
	}
	.up .list{
		float: left;
	}
	.up .list .item{
		float: left;
		margin-right: 39px;
	}
	.up .list .item:nth-child(1) a{
		font-weight: 700;
		color:#e5e5e5;
		margin-left: 42px;
	}
	.up .i-left{
		width: 36px;
		height: 36px;
		float: right;
		background-image: url(../images/yhl/【锤子商城】坚果手机/ia_100000000533.png);
		background-position: -36px -36px;
		position: absolute;
		top: 1px;
		right: 26px;
		transform: scale(0.5);
	}
	.up .i-left a{
		width: 36px;
		height: 36px;
		background-color: red;
		display: block;
		opacity: 0;
	}
	.up .i-right a{
		width: 36px;
		height: 36px;
		background-color: red;
		display: block;
		opacity: 0;
	}

	.up .i-right{
		width: 36px;
		height: 36px;
		float: right;
		background-image: url(../images/yhl/【锤子商城】坚果手机/ia_100000000533.png);
		background-position: -36px -0px;
		position: absolute;
		top:1px;
		right: 62px;
		transform: scale(0.5);
	}
	.nav{
		width: 100%;
		height: 74px;
		background-color: #fff;
		line-height: 74px;
	}
	.nav .nav-item a{
		color: #4f4f4f;
		margin-right: 30px;
		float: left;
	}
	.nav .nav-item:nth-child(1){
		color: #333;
		font-weight: 700;
	}
	.nav .nav-item:nth-child(4){
		color: #333;
		font-weight: 700;
	}
	.nav .nav-right{
		width: 330px;
		height: 36px;
		line-height: 36px;
		float: right;
		margin-top: 20px;
		position: relative;
	}
	.nav .nav-right input{
		width: 100%;
		height: 100%;
		border-radius: 18px;
		border: 1px solid #ebebeb; 
		box-sizing: border-box;
		outline: none;
		padding-left: 42px;
	}
	.nav .nav-right i{
		font-size: 20px;
		top: 7px;
   		left: 10px;
    	position: absolute;
    	color: #ABAAAA;
    	cursor: pointer;
	}
	.nav .nav-right .serach-son1{
		width: 76px;
		height: 20px;
		background-color: #e5efff;
		border: 1px solid #93b2f7;
		z-index: 1;
		float: left;
		line-height: 20px;
		text-align: center;
		border-radius: 10px;
		font-weight: 700;
		top: 7px;
		right: 86px;
		position: absolute;
	}
	.nav .nav-right .serach-son2{
		width: 70px;
		height: 20px;
		background-color: #f7fae1;
		border: 1px solid #b5cc7b;
		z-index: 1;
		float: right;
		line-height: 20px;
		text-align: center;
		border-radius: 10px;
		font-weight: 700;
		top: 7px;
		right: 8px;
		position: absolute;
	}
	.nav .nav-right .serach-son1 a{
		font-size: 11px;
		color: #3965cc;
	}
	.nav .nav-right .serach-son2 a{
		font-size: 11px;
		color: #8aad37;
	}
/*头部部分结束*/
/*主要部分*/
	.section{
		width: 100%;
		/*height: 1901px;*/
		background-color: #ededed;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.section .section-up{
		width: 100%;
		height: 562px;
		background-color: red;
		border-radius: 10px;
		margin-bottom: 20px;
		box-sizing: border-box;
		border: 1px solid #d4d4d4;
	}
	.section .section-down{
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #d4d4d4;
	}
	.section .section-down img{
		width: 100%;
		display: block;
	}
	.section .section-ft{
		width: 100%;
		height: 922px;
		background-color: #f4f4f4;
		margin-top: 20px;
		border-radius: 8px;
		box-sizing: border-box;
		border: 1px solid #d4d4d4;
		position: relative;
		overflow: hidden;
		/*box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);*/
	}
	.section .s-ft-down{
		width: 100%;
		height: 861px;
		background-color: #fff;
		position: absolute;
		bottom: 0px;
		box-sizing: border-box;
		border-top: 1px solid #d4d4d4;

	}
/*主要结束*/
/*底部部分*/
	
	.footer{
		width: 100%;
		height: 344px;
		background-color: #fafafa;
		border-top: 1px solid #e6e6e6;
		position: relative;
	}
	
	.footer .section{
		width: 100%;
		height: 216px;
		border-bottom: 1px solid #e6e6e6;
		background-color: #fafafa;
	}
	.footer .ft-up dl{
		margin-top: 60px;
		float: left;
		margin-right: 100px;
		font-size: 12px;
		
	}
	.footer .ft-up dl a{
		line-height: 0px;
		color: #969696;
	}
	.footer .ft-up dl a:hover{
		color: #5079d9;
	}
	.footer .ft-up dt{
		line-height: 0px;
		margin-bottom: 29px;
		font-weight: 700;
		color: #646464;
	}
	.footer .ft-up dl dd{
		margin-bottom: 17px;
	}
	.footer .ft-right{
		float: right;
		margin-top: 45px;
		position: relative;
		height: 100%;
	}
	.footer .ft-right div:nth-child(1){
		font-size: 18px;
		margin-bottom: 17px;
		font-weight: 900;
		color: #5079d9;
		margin-right: 1px;
	}
	.footer .ft-right div:nth-child(2){
		font-size: 12px;
		color: #999;
		text-align: right;
		margin-right: 1px;
	}
	.footer .ft-right div:nth-child(3){
		font-size: 12px;
		color: #999;
		text-align: right;
		margin-right: 1px;
		margin-top: 2px;
		margin-bottom: 19px;

	}
	.footer .ft-right div:nth-child(4){
		width: 134px;
		height: 32px;
		background-color: #f8f8f8;
		border: 1px solid #d0d0d0; 
		border-color: #d0d0d0;
		position: absolute;

		right: 1px;
		border-radius: 5px;
		cursor: pointer;
		box-sizing: border-box;
	}

	.footer .ft-right div:nth-child(4) a{
		text-align: center;
		right: 38px;
		position: absolute;
		line-height: 32px;
		font-size: 12px;
		color:#5079d9;
		font-weight: 700;
	}
	.footer .ft-right .bd:hover{
		border-color: #d0d0d0;
		opacity: 0.8;
		color:#5079d9;
	}
	.footer .ft-down li{
		font-size: 12px;
		color: #bdbdbd;
		float: left;
		margin-top: 30px;
	}
	.footer .ft-down li a{
		line-height: 15px;
		font-size: 12px;
		color: #bdbdbd;
	}
	.footer .ft-down span{
		margin-left: 10px;
		margin-right: 9px;
	}
	.footer .ft-down li a:hover{
		color: #5079d9;
	}

	.footer .ft-db a{
		line-height: 15px;
		font-size: 12px;
		color: #bdbdbd;
		bottom:20px;
		left: 341px;
		position: absolute;
	}
/*底部结束