.container{
	width: 1222px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
a{
	text-decoration: none;
	color: #bfbfc0;
	font-size: 11px;
}
a:hover{
	color: #5079d9;
}