.container{
	width: 1222px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
a{
	text-decoration: none;
	color: #bfbfc0;
	font-size: 11px;
	transition: all 0.2s;
}
a:hover{
	color: #5079d9;
}
.active:hover{
	/*box-shadow: 0px 0px 30px red;*/
	/*transform: translateZ(1000px);*/
	padding-color: red;
}
.active{
	transform: all 1s;
}