/*公共样式开始*/
.active{
	color: #333;
	font-weight: bolder;
}
/*公共样式结束*/



/*头部开始*/
.top{
	width: 100%;
	height: 45px;
	background: #232426;
	position: relative;
}
.top .top-lcon img{
	position: absolute;
	top: 13px;
	left: 20px;
}
.top .sercive{
	position: absolute;
	left: 295px;
	line-height: 45px;
}
.top .sercive li a:hover{
	color: #e5e5e5;
}
.top .sercive .sercive-item{
	float: left;
	margin-right: 39px;
}
.top .sercive .sercive-item a{
	font-size: 12px;
	color: #bebfc0;
}
.top .sercive .sercive-item a:last-child:hover .hide{
	display: block;
}
.top .sercive .sercive-item .hide{
	width: 137px;
	height: 183px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	background: #fff;
	position: relative;
	display: none;
	z-index: 1;
}
.top .sercive .sercive-item .hide img{
	width: 112px;
	height: 105px;
	position: absolute;
	top: 17px;
	left: 13px;
}
.top .sercive .sercive-item .hide .hide-text{
	color: #808080;
	position: absolute;
	left: 10px;
	bottom: 15px;
	font-size: 14px;
}
.top .sercive .sercive-item .hide .hide-text2{
	color: #c1c1c1;
	position: absolute;
	left: 26px;
	bottom: -5px;
	font-size: 11px;
}
.top .aside{
	float: right;
}
.top .aside i{
	font-size: 14px;
	color: #a3a3a4;
	position: absolute;
	top: 15px;
	right: 60px;
}
.top .aside .cart img{
	width: 14px;
	height: 16px;
	margin-left: 24px;
	background: #a3a3a4;
	position: absolute;
	top: 14px;
	right: 22px;
}
.top .aside .cart:hover .cart-hide{
	display: block;
}
.top .aside .cart .cart-hide{
	width: 362px;
	height: 316px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	position: relative;
	top: 48px;
	right: 20px;
	background: #fff;
	display: none;
	z-index: 2;
}
.top .aside .cart .cart-hide img{
	width: 63px;
	height: 63px;
	position: absolute;
	top: 91px;
	left: 125px;
}
.top .aside .cart .cart-hide .cart-hide-text{
	font-size: 18px;
	color: #333;
	position: absolute;
	bottom: 116px;
	left: 140px;
	font-weight:bold;;
}
.top .aside .cart .cart-hide .cart-hide-text2{
	font-size: 13px;
	color: #bebfc0;
	position: absolute;
	bottom: 94px;
	left: 54px;
}
/*头部结束*/


/*主要开始*/
.main{
	width: 100%;
	height: 6470px;
	background: #f0f0f0;
}
.main .nav{
	width: 100%;
	height: 75px;
	background: #fff;
	position: relative;
}
.main .nav ul{
	padding-left: 119px;	
}
.main .nav .nav-item{
	float: left;
	line-height: 75px;
	margin-left: 41px;
}
.main .nav .nav-item .active{
	color: #333;
	font-weight: 800;
}
.main .nav .nav-item a{
	color: #757575;
	font-size: 14px;
}
.main .nav .nav-item a:hover{
	color: #333;
}


.main .bianqian{
	width: 100%;
	height: 627px;
	background: #f9f9f9;
	border-bottom: 1px solid #dcdcdc;
}
.bianqian .icon{
	position: relative;
}
.bianqian .icon img{
	width: 128px;
	height: 128px;
	position: absolute;
	top: 93px;
	left: 696px;
}
.bianqian h1{
	font-size: 36px;
	color: #424242;
	position: absolute;
	top: 350px;
	left: 690px;
}
.bianqian p{
	font-size: 14px;
	color: #999;
}
.bianqian .p1{
	position: absolute;
	top: 411px;
	left: 650px;
	font-size: 20px;
	color: #555;
}
.bianqian .p2{
	position: absolute;
	top: 454px;
	left: 391px;
}
.bianqian .p3{
	position: absolute;
	top: 481px;
	left: 383px; 
}
.bianqian .android{
	display: inline-block;
	width: 150px;
	height: 50px;
	border: 1px solid #d8d7d8;
	border-radius: 8px;
	color: #808080;
	font-size: 16px;
	text-align: center;
	line-height: 52px;
	background: #f9f9f9;
	position: absolute;
	top: 545px;
	left: 594px;
}
.bianqian .iPhone{
	display: inline-block;
	width: 150px;
	height: 50px;
	border: 1px solid #d8d7d8;
	border-radius: 8px;
	color: #808080;
	font-size: 16px;
	text-align: center;
	line-height: 52px;
	background: #f9f9f9;
	position: absolute;
	top: 545px;
	left: 770px;
}
.bianqian .erweima{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #d8d7d8;
	border-radius: 8px;
	text-align: center;
	background: #f9f9f9;
	line-height: 63px;	
	position: absolute;
	top: 545px;
	left: 946px;
}
.bianqian .saoma{
	width: 170px;
	height: 180px;
	border: 1px solid #d8d7d8;
	border-radius: 8px;
	text-align: center;
	position: absolute;
	top: 625px;
	left: 892px;
	display: none;
}
.bianqian .saoma span{
	display: inline-block;
	font-size: 16px;
	color: #434651;
	margin-top: 14px;
	margin-bottom: 12px;
}
.bianqian .saoma div{
	width: 100px;
	height: 100px;
	border: 1px solid #f6f6f6;
	border-radius: 5px;
	margin-left: 35px;
}
.bianqian .saoma div img{
	width: 90px;
	height: 90px;
	text-align: center;
	margin-top: 5px;
}
.bianqian .p4{
	position: absolute;
	top: 616px;
	left: 597px;
	font-size: 12px;
	color: #bdbdbd;
}

.main .reader{
	width: 100%;
	height: 677px;
	border-bottom: 1px solid #dcdcdc;
	background: #fff;
}
.main .reader .content{
	width: 322px;
	height: 100px;
	padding-top: 96px;
	margin: 0px auto;
}
.main .reader .content h2{
	margin: 0px auto 22px;
	text-align: center;
	font-size: 34px;
	color: #424242;
}
.main .reader .content p{
	color: #bdbdbd;
	font-size: 14px;
	text-align: center;
}
.main .reader .content .p1{
	margin-bottom: 5px;
}
.main .list{
	width: 100%;
	height: 316px;
	margin-top: 86px;
	padding-left: 276px;
	position: relative;
}
.main .list span{
	display: inline-block;
	width: 70px;
	height: 70px;
	margin: 0 55px 85px 0;
	border: 0.5px solid #dde1e3;
	border-radius: 50%;
}
.main .list span:nth-child(1){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -9px -9px;
}
.main .list span:nth-child(1):after{
	content: '好奇心日报';
	position: absolute;
	top: 93px;
	left: 277px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(2){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -132px -9px;
}
.main .list span:nth-child(2):after{
	content: '财富中文网';
	position: absolute;
	top: 93px;
	left: 406px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(3){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -251px -9px;
}
.main .list span:nth-child(3):after{
	content: '大象公会';
	position: absolute;
	top: 93px;
	left: 544px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(4){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -374px -9px;
}
.main .list span:nth-child(4):after{
	content: '单读';
	position: absolute;
	top: 93px;
	left: 688px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(5){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -497px -9px;
}
.main .list span:nth-child(5):after{
	content: '第一财经周刊';
	position: absolute;
	top: 93px;
	left: 790px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(6){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -620px -9px;
}
.main .list span:nth-child(6):after{
	content: '果壳';
	position: absolute;
	top: 93px;
	left: 949px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(7){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -741px -9px;
}
.main .list span:nth-child(7):after{
	content: '36 氪';
	position: absolute;
	top: 93px;
	left: 1076px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(8){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -863px -9px;
}
.main .list span:nth-child(8):after{
	content: '南方人物周刊';
	position: absolute;
	top: 93px;
	left: 1183px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(10){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -9px -163px;
}
.main .list span:nth-child(10):after{
	content: '新世相';
	position: absolute;
	top: 253px;
	left: 291px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(11){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -132px -163px;
}
.main .list span:nth-child(11):after{
	content: 'PingWest 品玩';
	position: absolute;
	top: 253px;
	left: 393px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(12){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -251px -163px;
}
.main .list span:nth-child(12):after{
	content: '人物杂志';
	position: absolute;
	top: 253px;
	left: 543px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(13){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -374px -163px;
}
.main .list span:nth-child(13):after{
	content: '彭博商业周刊';
	position: absolute;
	top: 253px;
	left: 660px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(14){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -497px -163px;
}
.main .list span:nth-child(14):after{
	content: '新视线';
	position: absolute;
	top: 253px;
	left: 812px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(15){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -620px -163px;
}
.main .list span:nth-child(15):after{
	content: '正午故事';
	position: absolute;
	top: 253px;
	left: 936px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(16){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -741px -163px;
}
.main .list span:nth-child(16):after{
	content: '知乎每日精选';
	position: absolute;
	top: 253px;
	left: 1058px;
	color: #666;
	font-size: 14px;
}
.main .list span:nth-child(17){
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000336.png);
	background-position: -863px -163px;
}
.main .list span:nth-child(17):after{
	content: 'FT 中文网';
	position: absolute;
	top: 253px;
	left: 1196px;
	color: #666;
	font-size: 14px;
}

.main .article{
	width: 100%;
	height: 2300px;
	padding-top: 110px;
	background: #fff;
}
.main .article .content{
	width: 100%;
	height: 80px;
	text-align: center;
}
.main .article .content h2{
	margin-bottom: 22px;
	font-size: 34px;
	color: #424242;
}
.main .article .content p{
	color: #bdbdbd;
	font-size: 14px;
}
.main .article .container{
	width: 1281px;
	height: 2110px;
	margin: 78px auto 0;
	position: relative;
}
.main .article .container li{
	float: left;
	padding: 0 25px 52px;
}
.main .article .container li img{
	box-shadow: 0 8px 20px 2px #eee;
}
.main .article .container li:nth-child(4){
	position: absolute;
	top: 651px;
	left: 0px;
}
.main .article .container li:nth-child(5){
	position: absolute;
	top: 711px;
	left: 427px;
}
.main .article .container li:nth-child(6){
	position: absolute;
	top: 711px;
	left: 854px;
}
.main .article .container li:nth-child(7){
	position: absolute;
	top: 1302px;
	left: 0px;
}
.main .article .container li:nth-child(8){
	position: absolute;
	top: 1332px;
	left: 427px;
}
.main .article .container li:nth-child(9){
	position: absolute;
	top: 1332px;
	left: 854px;
}



.main .find{
	width: 100%;
	height: 878px;
	background: #f6f6f6;
	padding: 110px 0 98px;
}
.main .find .content{
	width: 100%;
	height: 81px;
	text-align: center;
}
.main .find .content h2{
	margin-bottom: 22px;
	font-size: 34px;
	color: #424242;
}
.main .find .content p{
	font-size: 14px;
	color: #c2bdc2;
}
.main .find ul{
	width: 1208px;
	margin: 75px auto 0;
}
.main .find ul li{
	padding: 78px 0 97px;
	float: left;
	width: 402px;
	text-align: center;
}
.main .find ul li:nth-child(1){
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.main .find ul li:nth-child(2){
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.main .find ul li:nth-child(3){
	border-bottom: 1px solid #e4e4e4;
}
.main .find ul li:nth-child(4){
	border-right: 1px solid #e4e4e4;
}
.main .find ul li:nth-child(5){
	border-right: 1px solid #e4e4e4;
}
.main .find ul .news span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000337.jpg);
}
.main .find ul .art span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000338.jpg);
}
.main .find ul .trchnology span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000339.jpg);
}
.main .find ul .science span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000340.jpg);
}
.main .find ul .business span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000341.jpg);
}
.main .find ul .life span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url(../../images/yk/Smartisan_应用下载-锤子商城/ia_100000342.jpg);
}
.main .find ul li h6{
	font-size: 21px;
	color: #313131;
	margin-top: 2px;
	padding-bottom: 20px;
}
.main .find ul li p{
	font-size: 14px;
	color: #bdbdbd;
	margin: 5px 0;
}
.main .find ul .hide{
	display: none;
}